
<div class="admin-main">
    <div class="admin-title bg-dark">
        <h1>ADMIN Football</h1> 
    </div>
    <div id="manager-newss">
        <a href="./news">
            <div class="manager-newss">
                manager news
            </div> 
         </a>
        <a href="./order">
            <div class="manager-newss">
                manager products
            </div>
        </a>
        <a href="./player">
            <div class="manager-newss">
                manager players
            </div>
        </a>
        <a href="./news">
            <div class="manager-newss">
                manager accounts
            </div>
        </a>
    </div>
</div>

