.content-message {
    position: fixed;
    bottom: 40%;
    left: 30%;
    height: 40px;
    width: 600px;
    border: 1px solid rgba(36, 241, 6, 0.46);
    border-radius: 5px;
    background-color: rgba(7, 149, 66, 0.3);
    box-shadow: 0px 0px 2px #259c08;
    transition: 0.5s;
    cursor: pointer;
}

.content-message:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
}

.content-message p {
    display: inline-block;
    padding-left: 10px;
    color: #0ad406;
    line-height: 40px;
}

.close-message {
    display: inline-block;
    color: #0ad406;
    position: absolute;
    right: 0;
}

.close-message:hover {
    color: rgba(7, 149, 66, 0.35);
    background-color: rgba(7, 149, 66, 0.4);
}

.close-message i {
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.js-hidden {
    display: none;
}

#login-form {
    display: flex;
    margin-top: 20px;
    padding-top: 110px;
}

#register-form {
    display: flex;
}

.logo__MU {
    width: 50%;
    text-align: center;
}

.logo__MU img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_login {
    width: 50%;

}

.Log-in {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.main__login2 {

    text-align: center;
}

.main__login2 div input,
.main__login3 div input {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.main__login3 {
    text-align: center;
    padding: 10px;
}

#phone {
    padding-bottom: 7px;
}

#phone1 {
    padding-bottom: 20px;
}

.form-control {
    width: 70%;
    height: 35px;
    padding: 10px;
}

#sb-mit {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
    height: 35px;
    color: white;
    font-size: 20px;
    background-color: rgb(159, 18, 18);
    border-radius: 10px;
}