.room {
    position: relative;
}
.room-backround-img{
    position: relative;
}
.room-backround-img img {
    width: 100%;
    object-fit: contain ;
    height: 650px;
    /* opacity: .9; */
}
.room-backround-overload{
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.933),transparent);
}

.room-title h1 {
    width: 100%;
    /* position: absolute; */
    color: black;
    bottom: 0px;
    padding-left: 40px;
    font-family: 'Bebas Neue', cursive;
    /* z-index: 2; */
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.title-min {
    padding: 50px 200px;
    font-size: 30px;
    font-weight: 50;
}


.lazyload-wrapper .figure-component img {
    width: 100%;
    opacity: .9;
}

.img-holder {
    position: relative;
    font-size: 50px;
    z-index: 1;

}

.year-main {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    left: 40px;
    color: white;
    text-align: center;
}

.id1 {
    cursor: pointer;
}

.tran-i {
    transition: all .5s ease;
    transform: rotate(45deg);
}


.year-main h2 {
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}

.title-min-detail {
    transition: all .5s ease;
    padding: 40px 0;
}

.img-holder .year h2 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.img-holder .year i {
    font-size: 50px;

}

.cup {
    padding: 60px 0;
    background-image: url('https://assets.manutd.com/AssetPicker/images/0/0/10/79/675693/639670961JP237_Manchester_U71545400955470_xlarge.jpg');
}

.cup h2 {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.cup-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.cup-img img {
    width: 100%;
}

.number-cup p {
    background-color: black;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    width: 100%;
}

.huyenthoai {
    margin-top: 20px;
    background-color: black;
}

.huyenthoai h2 {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.lengenth {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-bottom: 30px;
}

.lengenth img {
    width: 100%;
    height: 370px;
    opacity: .45;
    transition: all .5s ease;
    border-radius: 10px;
}

.lengenth img:hover {
    opacity: 1;
}