<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <div class="footer">
      <div class="sponsor">
        <div class="sponsor-secondary">
          <ul class="secondary">
            <li><img width="100px" src="img/Apollo.png" alt="" /></li>
            <li><img width="100px" src="img/Chevrolet.png" alt="" /></li>
            <li><img width="100px" src="img/Cadbury.png" alt="" /></li>
            <li><img width="80px" src="img/Canon.jpg" alt="" /></li>
            <li><img width="130px" src="img/Konami.png" alt="" /></li>
            <li><img width="100px" src="img/Kohler.png" alt="" /></li>
            <li><img width="130px" src="img/Ecolab.png" alt="" /></li>
            <li><img width="150px" src="img/Remington.png" alt="" /></li>
          </ul>
        </div>
      </div>

      <div class="item">
        <ul>
          <a href="#">
            <li><img src="img/youtube.png" alt=""></li>
          </a>
          <a href="#">
            <li><img src="img/facebook.png" alt=""></li>
          </a>
          <a href="#">
            <li><img src="img/twitter.png" alt=""></li>
          </a>
          <a href="#">
            <li><img src="img/instagram.png" alt=""></li>
          </a>
          <a href="#">
            <li><img src="img/tiktok.png" alt=""></li>
          </a>
        </ul>
      </div>

        <div class="footer-menu-link ">
          <nav class="footer-describe ">
            <h5 class="footer-describe-title"><a href="/">INTRODUCE</a></h5>
            <ul>
              <li>Introduce Club</li>
              <li>Stadium</li>
            </ul>
          </nav>
        
          <nav class="footer-describe">
            <h5 class="footer-describe-title"><a href="/news">LATEST</a></h5>
            <ul>
              <li>Hot New</li>
              <li>Transfer</li>
            </ul>
          </nav>
        
          <nav class="footer-describe">
            <h5 class="footer-describe-title"><a href="/competition">FIXTURES</a></h5>
            <ul>
              <li>Match</li>
              <li>Ticket</li>
            </ul>
          </nav>
        
          <nav class="footer-describe">
            <h5 class="footer-describe-title"><a href="/product">PRODUCT</a></h5>
            <ul>
              <li>Home</li>
              <li>Away</li>
              <li>Third</li>
              <li>Training</li>
              <li>Ticket</li>
            </ul>
          </nav>
        
          <nav class="footer-describe">
            <h5 class="footer-describe-title"><a href="/player">TEAM</a></h5>
            <ul>
              <li>GoalKeeper</li>
              <li>Defender</li>
              <li>Midfielder</li>
              <li>Training</li>
              <li>Striker</li>
            </ul>
          </nav>
        
          <nav class="footer-describe">
            <h5 class="footer-describe-title"><a href="/traditional">TRADITIONAL ROOM</a></h5>
            <ul>
              <li>Cup</li>
              <li>Player Lenghth</li>
            </ul>
          </nav>
        </div>
    </div>
  </body>
</html>