<div class="container">
    
        <div class="carousel-img">
            <img src="https://d2x51gyc4ptf2q.cloudfront.net/content/uploads/2021/10/29142929/Manchester-United-players-walk-on-to-the-Old-Trafford-pitch.jpg"
                alt="">
        </div>
    
        <div class="gioithieu">
            <span class="text">Introduce</span>
                <div class="title">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur odit tempore rerum ex
                        ratione quibusdam quos? Cum quos earum velit, veritatis, soluta molestias ad eum ipsa
                        quisquam consequatur culpa, id doloremque! Impedit, non cupiditate, error quisquam excepturi
                        qui suscipit, quod necessitatibus similique tempore consequatur dolorem ea perferendis esse
                        ducimus nisi modi aliquam voluptatum itaque ipsam explicabo accusamus totam. Numquam
                        repudiandae blanditiis quam nesciunt impedit voluptas porro est sed laudantium. Consequuntur
                        sunt culpa facere animi corporis delectus architecto recusandae, voluptate error, expedita
                        magnam dolore! Maxime quidem perferendis provident, magnam sequi, omnis fugiat eveniet esse
                        consectetur numquam saepe aliquam libero ad reiciendis.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid delectus excepturi
                        consectetur, fuga voluptas voluptatibus inventore, perspiciatis labore praesentium optio
                        libero id suscipit. Corporis minima eius fugit, odio suscipit corrupti. Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Tempora eligendi maiores fuga iure illum, quod sint,
                        voluptate aut, dignissimos nesciunt a reiciendis voluptatibus eius ducimus excepturi.
                        Recusandae, sed nobis! Minus obcaecati corrupti qui magni dicta maxime aspernatur neque
                        voluptas quo, natus vero deleniti praesentium ea odio similique sunt mollitia commodi, iure
                        officia at magnam impedit culpa aliquid perspiciatis. Exercitationem ad quisquam sequi
                        facilis numquam pariatur velit. Facilis nihil totam temporibus veniam similique ipsa saepe
                        perferendis provident non incidunt enim harum adipisci cupiditate hic nulla distinctio porro
                        dolore exercitationem quasi eaque explicabo a, ipsum quisquam quas! At dolore maiores rem
                        quisquam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum odio molestias
                        voluptates officiis tenetur nostrum, similique quam odit veritatis fuga quod ex deserunt
                        aliquam possimus velit sed dolore! Tenetur qui consequatur ut perferendis ratione pariatur
                        eligendi eveniet praesentium reiciendis quas.</p>
                </div>
        </div>
    
    
        <div class="danhhieu">
            <span class="text">Achievement</span>
            <div class="carousel">
                <img src="./img/image.png.ac1a323ebbb15d5f94356c1fe2b1887c.png" alt="">
            </div>
        </div>
<div class="stadium">
    <span class="text"></span>
    <img src="https://www.gannett-cdn.com/-mm-/e22d4a26f5569ce3ca187edc629f441b6d5df14d/c=0-297-2998-1991/local/-/media/2017/01/25/USATODAY/USATODAY/636209344119667017-AFP-AFP-K459Z-88069738.JPG?width=2998&height=1694&fit=crop&format=pjpg&auto=webp"
        alt="">
</div>
</div>



