<div class="traditional-room">
<div class="room">
    <div class="room-backround-img">
        <img src="https://assets.manutd.com/AssetPicker/images/0/0/4/233/321842/GettyImages-8119611911505988336353_xlarge.jpg" />
        <div class="room-backround-overload"></div>
    </div>
    <div class="room-title">
        <h1>MANCHESTER UNITED: THE<p> STORY SO FAR</p>
        </h1>
    </div>
</div>
<div class="container">
    <h4 class="title-min">
        Immerse yourself in the greatest football story ever told with our decade-by-decade guide to United's
        rich history...
    </h4>
</div>


<div class="img-holder">
    <div class="lazyload-wrapper">
        <figure class="figure-component figure-adaptive ">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/87/677833/HistoryByDecade-1878-190951521024901145_xlarge.jpg"
                alt="">
        </figure>
    </div>

    <div class="year-main">
        <h2>1878 TO 1909</h2>
        <a onclick="showContent()"><i class="fa fa-plus-circle id1"></i></a>
    </div>
</div>

<div class="container title-min-detail">
    <h2>
        Manchester United Football Club was first formed in 1878, albeit under a different name - Newton Heath LYR
        (Lancashire and Yorkshire Railway).
    </h2>
    <p>Little suspecting the impact they were about to have on the national, even global game, the workers in the
        railway yard at Newton Heath indulged their passion for association football with games against other
        departments of the LYR and other railway companies.

        Indeed, when the Football League was formed in 1888, Newton Heath did not consider themselves good enough to
        become founder members alongside the likes of Blackburn Rovers and Preston North End. Instead, they waited
        until 1892 to make their entrance, joining the league at Division One level but were sadly relegated to
        Division Two after just two seasons in the top flight.

        Financial problems plagued the club and, by the start of the 20th Century, it seemed they were destined for
        extinction. The team was saved, however, by local brewery owner John Henry Davies. Legend has it that he
        learned of the club's plight when he found a dog belonging to captain Harry Stafford.

        Davies decided to invest in Newton Heath, in return for some interest in running it. This led to a change of
        name and, after several alternatives including Manchester Central and Manchester Celtic were rejected,
        Manchester United was born in April/May of 1902.

        The next influential figure to arrive at United was Ernest Mangnall, who was appointed secretary in
        September 1903 but is widely acknowledged as being the club's first manager. His side, including new
        signings like goalkeeper Harry Moger and forward Charlie Sagar, finished third in the Second Division in
        1903/04 and again in 1904/05.

        The following season, 1905/06, was to prove one of the greatest in the early life of Manchester United. The
        half-back line of Dick Duckworth, Alex Bell and captain Charlie Roberts were instrumental in the side which
        reached the quarter-finals of the FA Cup but, more importantly, finished as runners-up in the Second
        Division. Some 12 years after being relegated, United reclaimed their place in the top flight. To celebrate,
        Mangnall signed Billy Meredith from rivals Manchester City. Nicknamed the Welsh Wizard, Meredith had been
        implicated in a bribery scandal at City, and was due to be auctioned along with 17 other players. Mangnall
        shrewdly made his move early, and acquired Meredith's signature before the bidding began.

        The winger's arrival proved to be inspirational - Meredith set up countless goals for Sandy Turnbull in
        1907/08 when United won the Football League title for the first time. As champions, United played in the
        first-ever Charity Shield in 1908. They duly won the trophy, beating Southern League champions QPR 4-0
        thanks largely to a hat-trick from Sandy's namesake, Jimmy Turnbull. The third trophy to be added to the
        club's honours board was the FA Cup, at the end of a tremendous run in 1909. United beat Bristol City 1-0 in
        the final, thanks to Sandy Turnbull's winner.</p>
</div>


<div class="img-holder">
    <div class="lazyload-wrapper">
        <figure class="figure-component figure-adaptive ">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/87/677832/HistoryByDecade-1910-191921521025275520_xlarge.jpg"
                alt="">
        </figure>
    </div>

    <div class="year-main">
        <h2>1910 TO 1919</h2>
        <a onclick="showContent2()"><i class="fa fa-plus-circle id1"></i></a>
    </div>
</div>

<div class="container title-min-detail-2">
    <h2>
        The words Old Trafford entered footballing folklore for the first time during the 1909/10 season. The land
        on which the stadium was built was bought by the Manchester Brewery Company (through John Henry Davies) and
        leased to the club.
    </h2>
    <p>Davies himself paid for the building work, which commenced in 1908 under the supervision of architect
        Archibald Leitch. By 1910, the club had moved lock, stock and barrel from their old home of Bank Street.
        United's opening fixture at Old Trafford was played on 19 February 1910. The new hosts lost 4-3 to their
        first visitors Liverpool, but the stadium was successful in accommodating an 80,000 capacity crowd. Two days
        previously, the old wooden stand at Bank Street had been blown down by strong winds - further evidence,
        perhaps, that United were suited to and needed their new home.

        Indeed, United were crowned League champions for the second time at the end of their first full season at
        Old Trafford - 1910/1911. The Reds clinched the title at home on the final day of the season, beating
        Sunderland 5-1 with Harold Halse grabbing two of the goals. Halse also scored six goals as United beat
        Swindon Town 8-4 to clinch the Charity Shield.

        Despite such feats, United could not maintain the winning run and, in 1911/12, the defending champions
        finished in a disappointing 13th place. Secretary-manager Ernest Mangnall bore the brunt of the criticism,
        and resigned to join United's neighbours and rivals Manchester City. The search for Mangnall's successor
        finished at the door of JJ Bentley, the president of the Football League. Under his guidance, the Reds
        claimed fourth place in the League at the end of the 1912/13 season.

        The 1913/14 term was a period of transition, while the following campaign was notable for a change of
        management - in December 1914, the roles of secretary and team manager were separated for the first time.
        Bentley became full-time secretary and John Robson was appointed to look after and select the team. Robson's
        team was a shadow of the one which had performed so well in the previous decade, as only George Stacey,
        Billy Meredith, Sandy Turnbull and George Wall remained from the 1909 FA Cup-winning side. Not surprisingly,
        the club struggled, only escaping relegation by a single point.

        Before United could form a plan for recovery, the outbreak of the First World War put football firmly to the
        back of people's minds. The Football League was suspended, and clubs resorted to playing in regional
        competitions. United played in the Lancashire Prinicipal and Subsidiary Tournaments for four seasons, but
        this was a less than successful diversion, the misery compounded by the fact that two of the club's players
        were found guilty of match fixing. Enoch West was banned for life, as was Sandy Turnbull, who joined the
        Footballers' Battalion to help Britain's war effort. Tragically, Turnbull was killed during battle in France
        in May 1917, and another link to the club’s earliest glory years lost</p>
</div>

<div class="cup ">
    <h2>UNITED'S MAJOR HONOURS</h2>
    <div class=" cup-main">
        <div class="cup-img">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/73/674270/Trophy-Room-Premier-League1520077960627.jpg"
                alt="">
            <div class="number-cup">
                <p class="counter">10</p>
            </div>
        </div>

        <div class="cup-img">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/73/674262/Trophy-Room-Division-11520078042557.jpg"
                alt="">
            <div class="number-cup">
                <p class="counter">7</p>
            </div>
        </div>

        <div class="cup-img">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/73/674265/Trophy-Room-FA-Cup1520078162555.jpg"
                alt="">
            <div class="number-cup">
                <p class="counter">4</p>
            </div>
        </div>

        <div class="cup-img">
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/73/674267/Trophy-Room-League-Cup1520078121959.jpg"
                alt="">
            <div class="number-cup">
                <p class="counter">7</p>
            </div>
        </div>
    </div>
</div>



<!-- Set up your HTML -->
<div class="huyenthoai">
    <h2>PLAYER-LENGENTH</h2>
    <div class="container lengenth">
        <div>
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687707/Legends-Profile_Cristiano-Ronaldo1523460877263.jpg"
                alt="">
        </div>
        <div>
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687722/Legends-Profile_Paul-Scholes1523463090320.jpg"
                alt="">
        </div>
        <div>
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687724/Legends-Profile_Ole-Gunnar-Solskjaer1523463504754.jpg"
                alt="">
        </div>
        <div>
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687718/Legends-Profile_Eric-Cantona1523462164078.jpg"
                alt="">
        </div>
        <div>
            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687709/Legends-Profile_David-Beckham1523461107483.jpg"
                alt="">
        </div>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.countup.min.js"></script>
    <script>
        const plusElements = document.querySelectorAll('.id1');
        for(let element of plusElements) {
            element.onclick = function() {
                if(this.classList.contains('tran-i')) {
                    this.classList.remove('tran-i');
                }
                else {
                    this.classList.add('tran-i');
                }
            }
        }
        document.querySelector('.title-min-detail').style.display = 'none';
        function showContent() {
            var x = document.querySelector('.title-min-detail');
            if (x.style.display == 'block') {
                x.style.display = 'none';
            } else {
                x.style.display = 'block';
            }

        }



        document.querySelector('.title-min-detail-2').style.display = 'none';
        function showContent2() {
            var x = document.querySelector('.title-min-detail-2');
            if (x.style.display == 'block') {
                x.style.display = 'none';
            } else {
                x.style.display = 'block';
            }
        }
</script>

<script>
    $('.counter').countUp({
        'time': 500,
        // 'delay': 2
    });
</script>
